networks:
  privateindexer-net:
    name: privateindexer-net
    driver: bridge
services:
  client:
    image: ghcr.io/humehouse/privateindexer-client:latest
    container_name: privateindexer-client
    restart: unless-stopped
    # careful not to let Docker kill the container, it could prevent fastresume data from being saved during shutdown
    # stop_grace_period: 5m
    environment:
      DOWNLOADS_DIR: /data/privateindexer/downloads
      MAX_THREADS: 16 # 16 threads
      INDEXER_API_URL: https://indexer.humehouse.com
      TRACKER_API_URL: https://tracker.humehouse.com
      API_KEY: keyhere
      TORRENTING_PORT: 6881
      RADARR_URL: https://radarr.humehouse.com
      RADARR_API_KEY: keyhere
      SONARR_URL: https://sonarr.humehouse.com
      SONARR_API_KEY: keyhere
    volumes:
      - /humehouse/privateindexer/client_data:/app/data # mount the persistent data storage location to the host somewhere

      # uncomment this line if you wish to store persistent log files on your host
      # - /humehouse/privateindexer/log_files:/app/logs

      - /data/privateindexer/downloads:/data/privateindexer/downloads # mount the downloads location on the host to the DOWNLOADS_DIR in the container
      - /data/media/movies:/data/media/movies # mount the movies directory - this should match what Radarr sees
      - /data/media/shows:/data/media/shows # mount the tv series directory - this should match what Sonarr sees
    networks:
      - privateindexer-net
    ports:
      - "6881:6881"
      - "8080:8080"
    logging:
      options:
        max-size: 10m
        max-file: 5
    build:
      context: .
      network: host
