networks:
  privateindexer-net:
    name: privateindexer-net
    driver: bridge
services:
  server:
    image: ghcr.io/humehouse/privateindexer-server:latest
    container_name: privateindexer-server
    restart: unless-stopped
    environment:
      REDIS_HOST: privateindexer-redis
      MYSQL_HOST: privateindexer-mysql
      MYSQL_ROOT_PASSWORD: privateindexer

      # distribute these URLs to your users to be used on the client
      EXTERNAL_SERVER_URL: https://indexer.humehouse.com
      EXTERNAL_TRACKER_URL: https://tracker.humehouse.com
    volumes:
      - ./server/data:/app/data
      - ./server/logs:/app/logs
    networks:
      - privateindexer-net
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8081:8081"
    logging:
      options:
        max-size: 10m
        max-file: 5
  tracker:
    image: ghcr.io/humehouse/privateindexer-tracker:latest
    container_name: privateindexer-tracker
    restart: unless-stopped
    environment:
      REDIS_HOST: privateindexer-redis
      MYSQL_HOST: privateindexer-mysql
    volumes:
      - ./tracker/logs:/app/logs
    networks:
      - privateindexer-net
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      server:
        condition: service_healthy
    ports:
      - "8082:8082"
    logging:
      options:
        max-size: 50m
        max-file: 5
  redis:
    image: redis:latest
    container_name: privateindexer-redis
    restart: unless-stopped
    volumes:
      - ./redis:/data
    networks:
      - privateindexer-net
    healthcheck:
      test: redis-cli ping
      interval: 30s
      timeout: 10s
      retries: 3
  mysql:
    image: mysql:8
    container_name: privateindexer-mysql
    restart: unless-stopped
    command:
      --mysql-native-password=ON
      --skip-log-bin
      --range-optimizer-max-mem-size=0
      --innodb-undo-log-truncate=ON
      --innodb-max-undo-log-size=128M
    environment:
      MYSQL_ROOT_PASSWORD: privateindexer
    volumes:
      - ./mysql:/var/lib/mysql
    networks:
      - privateindexer-net
    healthcheck:
      test: mysql --version
      interval: 30s
      timeout: 10s
      retries: 3
